.dashboard {
    padding: 3rem;

    & h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    & .dashboard__bento {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }
}