.sidebar {
  background: #252525;
  width: 15rem;
  padding: 3rem;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;

  & .sidebar__header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  & .sidebar__menu > li {
    margin-bottom: 1rem;
  
    & .sidebar__menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.6rem;
      color: #fff;
      transition: background-color 0.3s ease, transform 0.1s ease;
      cursor: pointer; /* Agrega cursor de puntero para indicar que es interactivo */
      padding: 1rem 2rem;
      
      &:hover {
        background-color: #333; /* Color de fondo más oscuro al hacer hover */
        border-radius: 0.5rem;
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto elevado */
      }
    }
  }
  

}

